 {
    border: red 1px solid;
    
}

/* body header ul,
body section section,
body section h3,
body section span,

body footer p {
    margin: 0px 100px;
} */

header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 10%;
    
}

.left-side,
.right-side {
    display: flex;
    
}

.left-side {
    font-size: 24px;
    font-weight: #F9FAF8;
    padding: 0;
}

.right-side {
    font-size: 18px;
    font-weight: #E5E7EB;
    padding: 0;
}

.left-side > li {
    font-weight: bold;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 40px 10%;
    flex: 1 1 auto;
}

.first section h1 {
    font-size: 48px;
    font-weight: #F9FAF8;
    margin: 0;
}

.first section p {
    font-size: 18px;
    font-weight: #E5E7EB;
    margin: 0;
}

.first section {
    color: white; 
    max-width: 350px;
}

.first section button {
    background-color: #3882F6;
}

.second {
    
}

.second h3 {
    text-align: center;
    font-size: 36px;
    font-weight: #1F2937;
    margin-bottom: 0;
}

.img-and-subtext  {
    display: flex;
    padding: 0px 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-and-subtext section {
    width: 250px;
    margin: 40px;
    
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px 20%;
}

.third h3 {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.third span {
    font-weight: bold;
    text-align: right;
}

.fourth {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth > section:first-child {
    padding: 20px 0px 20px 90px;
    background-color: #3882F6;
    color: white;
    margin: 0;
}

.fourth section h3 {
    margin: 0;
}

.fourth section + section {
    margin-left: 0px;
}

.fourth section button {
    color: white;
    border: white 2px solid;
}

.fourth button {
    background-color: #3882F6;
    padding: 35px 10px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: white;
    
}

footer p {
    padding: 40px;
}